<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" verbose="4" parallel = 'tests' thread-count = "2">

	<test name="Google Test">
	<parameter name = "browser" value = "chrome"/>
	<parameter name = "url" value = "https://www.google.com/" />
	<parameter name = "headless" value = "true" />
		<classes>
			<class name="testngsessions.Google" />
		</classes>
	</test>
	
	<test name="Opencart Test">
	<parameter name = "browser" value = "chrome"/>
	<parameter name = "headless" value = "false" />
	<parameter name = "url" value = "https://naveenautomationlabs.com/opencart/index.php?route=account/login" />
		<classes>
			<class name="testngsessions.OpencartLogin" />
		</classes>
	</test>


</suite>